<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="style-c4.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="head d-flex flex-row mb-3">
            <a href="/">
                <h1 class="p-2"><</h1>
            </a>
            <img class="p-2" src="assetsc4/logo 1.png" alt="">
            <h2 class="p-2">rock paper scissors</h1>
        </div>
    </header>

    <div class="container position-relative">
        <div class="player position-absolute top-50 start-0 translate-middle-y">
            <h1>player 1</h1>
            <div class="choice my-5 mx-5" id="s">
                <img src="assetsc4/gunting.png" alt="">
            </div>
            <div class="choice my-5 mx-5" id="r">
                <img src="assetsc4/batu.png" alt="">
            </div>
            <div class="choice mx-5" id="p">
                <img src="assetsc4/kertas.png" alt="">
            </div>
        </div>
        <div class="stat position-absolute top-50 start-50 translate-middle">
            <h1 id="ref">VS</h1>
        </div>
        <div class="com position-absolute top-50 end-0 translate-middle-y">
            <h1>com</h1>
            <div class="choice my-5 mx-5" id="sc">
                <img src="assetsc4/gunting.png" alt="">
            </div>
            <div class="choice my-5 mx-5" id="rc">
                <img src="assetsc4/batu.png" alt="">
            </div>
            <div class="choice mx-5" id="pc">
                <img src="assetsc4/kertas.png" alt="">
            </div>
        </div>
    </div>
    <div class="refresh position-relative start-50 bottom-0 translate-middle-x mb-5" id="refresh">
        <img src="assetsc4/refresh.png" alt="">
    </div>
    <script src="app-c4.js"></script>
</body>
</html>