* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9C835F;
}


.head > h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;

    color: #F9B23D;
}

.head > h1 {
margin-left: 2%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;

    color: #724C21;
}

.head > img {
    margin-top: 3px;
    width: 62px;
    height: 62px;
}

.container {
    width: 1300px;
    height: 800px;
}

.choice > img {
    width: 200px;
    height: 200px;
    padding: 20px;
}

.choice {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.player > .choice:hover {
    cursor: pointer;
    background-color: #C4C4C4;
    border-radius: 30px;
    transition: all 0.4s ease;
}

.player {
    width: fit-content;
    height: fit-content;
}

.player > h1 {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}

.stat > h1 {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    text-align: center;
    text-transform: uppercase;

    color: #BD0000;
}

.stat {
    width: fit-content;
    height: fit-content;
}

.com {
    width: fit-content;
    height: fit-content;
}

.com > h1 {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.refresh > img {
    width: 100px;
    height: 100px;
}

.refresh {
    width: fit-content;
}

.refresh:hover {
    cursor: pointer;
}