* {
    padding: 0;
    margin: 0;
}

ul {
    margin-bottom: 0;
}

.home, .about, .features, .sysreq, .quotes, .newsletter {
    height: 136vh;
}

.bgimg {
    background-image: url('assets/main-bg.jpg');
    background-size: cover;
    height: 136vh;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;

    background: rgba(0, 0, 0, 0.5);
}

.logo {
    position: absolute;
    top: 29px;
    left: 107px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: white;
}

.left-nav li {
    float: left;
    margin-top: 38px;
    padding-left: 32.04px;
    list-style-type: none;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: white;
}

#home {
    margin-left: 326px;
}

#login {
    margin-right: 162px;
}

.right-nav li {
    float: right;
    margin-top: 38px;
    padding-left: 32.04px;
    list-style-type: none;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: white;
}

.slogan {
    position: absolute;
    height: 73.12px;
    left: 9.22%;
    right: 10.47%;
    top: calc(50% - 73.12px/2);

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.sub-slogan {
    position: absolute;
    left: 33.84%;
    right: 34.66%;
    top: calc(50% + 73.12px + 57.28px);

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    letter-spacing: 2px;

    color: #FFFFFF;
}

.play {
    position: absolute;
    left: 40.83%;
    right: 41.09%;
    top: calc(50% + 73.12px + 142.2px );
    
    padding-top: 18.7px;
    padding-bottom: 18.7px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    border-width: 0px;

    text-align: center;

    color: #1A1917;

    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}

.story {
    position: absolute;
    left: 47.66%;
    right: 47.61%;
    top: 125%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;

    text-align: justify;
    text-transform: uppercase;

    color: #FFFFFF;
}

.down {
    position: absolute;
    left: 48.89%;
    right: 47.61%;
    top: 128.66%;
}
