.bgimg6 {
    background-color: #0a0a0a;
    background-size: cover;
    height: 136vh;
}

.container {
    position: relative;
    right: 10%;
    top: 35%;
    float: right;
    width: 600px;
    
    color: white;
}

.intouch {
    margin-right: 70%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 2px;

    color: #FFFFFF;
}

.news {
    margin-top: 20px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.detail {
    margin-top: 20px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.isi {
    height: 3.5rem;
    width: 20rem;
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.08);
}

#in {
    width: 15rem;
    height: 3.5rem;
    margin-bottom: 0.3rem;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    text-transform: capitalize;
}

.left {
    position: absolute;
    height: 0;
    width: 100%;
    margin-top: 62%;

    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color:white;
}

.trophy {
    position: absolute;
    margin-top: 15%;
    left: 20%;
}

.left li {
    display: inline;
    list-style-type: none;
    margin-left: 2rem;
}

.stroke {
    position: absolute;
    width: 85%;
    height: 0;
    margin-left: 5em;
    margin-top: 64%;
    border: 0.873968px solid #FFFFFF;
    opacity: 0.5;
}

.lol {
    position: absolute;
    width: 339.88px;
    height: 21.9px;
    left: 4.3%;
    margin-top: 65%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.terms {
    position: absolute;
    height: 21.9px;
    left: 67%;
    margin-top: 65%;

    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;

    color: #FFFFFF;
}
