.bgimg2 {
    background-image: url('assets/the-games-bg.jpg');
    background-size: cover;
    height: 136vh;
}

.question1 {
    position: absolute;
    left: 5.7%;
    right: 76.09%;
    margin-top: 254.81px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.ans1 {
    position: absolute;
    height: 73.64px;
    left: 5.42%;
    right: 66.01%;
    margin-top: 296.79px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#s1 {
    margin-right: 320.53px;
}

#s1, #s2, #s3, #s4 {
    list-style-type: circle;
}

#rps {
    position: absolute;
    width: 858px;
    height: 477px;
    margin-top: 292.4px;
    right: 129px;
}

.slide li {
    position: relative;
    float: right;
    width: 14px;
    height: 14px;
    margin-top: 705.55px;
    margin-right: 52px;

    font-size: 50px;
    color: white;
    padding-right: 20px;
}

.right {
    position: absolute;
    left: 94%;
    margin-top: 27%;
}

.left {
    position: absolute;
    left: 46.5%;
    margin-top: 27%;
}