.bgimg3 {
    background-image: url('assets/features.jpg');
    background-size: cover;
    height: 136vh;
}

.question2 {
    position: absolute;
    margin-left: 63%;
    margin-top: 169.09px;
    margin-bottom: 70.16%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFFFFF;
   
}

.ans2 {
    position: absolute;
    margin-left: 63%;
    margin-top: 205.09px;
    margin-bottom: 70.16%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#pa {
    left: 58.44%;
    right: 16.42%;
    top: 50.32%;
    bottom: 41.58%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;

    text-align: justify;

    color: white;
}

.list {
    height: 0;
    width: fit-content;
    position: absolute;
    margin-left: 64.3%;
    margin-top: 310.09px;
    margin-bottom: 70.16%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: white;
}

#tradgame {
    list-style-type: disc;
}

.list li {
    height: fit-content;
    list-style-type: circle;
    margin-top: 37.71px;
    margin-right: 16.42%;
}

span {
    color: #FFB548;
    font-size: 24px;
}