.quotes {
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
    background-color: #1b1b1b;
}

.bgimg5 {
    background-image: url('assets/top-score-bg.png');
    background-size: cover;
    height: 136vh;
}

.quote1, .quote2, .quote3 {
    margin-left: 60%;
    position: absolute;
    width: 453.89px;
    height: 205px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.quote1 {
    margin-top: 159.59px;
}

.quote2 {
    margin-left: 50%;
    margin-top: 399.5px;
}

.quote3 {
    margin-top: 637.47px;
}

.name {
    margin-top: 26px;
    margin-left: 109.02px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 2px;

    color: #FFB548;
}

.sub {
    margin-left: 109.02px;
    margin-top: 0;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    text-align: justify;
    color: white;
    opacity: 0.5;
}

.quote {
    margin-top: 16px;
    margin-left: 16.79px;
    margin-right: 10%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: white;
}

.date {
    position: absolute;
    top: 80%;
    margin-left: 16.79px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: white;
    opacity: 0.5;
}

.topscores {
    position: absolute;
    margin-left: 8.15%;
    margin-right: 63.31%;
    margin-top: 20%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.desc {
    position: absolute;
    margin-left: 8.33%;
    margin-right: 70.35%;
    margin-top: 25%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

#see {
    position: absolute;
    margin-left: 8.33%;
    margin-right: 70.35%;
    margin-top: 30%;

    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    text-transform: lowercase;

    color: #1A1917;
}

.evan {
    position: absolute;
    top: 10%;
    left: 4%;
}