.rect {
    background-size: cover;
    height: 136vh;
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
}

.bgimg4 {
    background-image: url('assets/requirements.png');
    background-size: cover;
    height: 136vh;
}

.question3 {
    position: absolute;
    margin-left: 42%;
    margin-top: 145px;


    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.req {
    position: absolute;
    height: 73.64px;
    margin-left: 9.02%;
    margin-right: 67.07%;
    margin-top: 20%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.grid {
    margin-top: 30%;
    margin-left: 9.02%;
    display: grid;
    grid-template-columns: 276px 276px;
    width: 573px;
    height: 400px;
    position: absolute;
    color: white;
}

.grid-item {
    border: 1px solid #979797;
    padding: 20px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}

#item5 {
    grid-column: 1/3;
}

.title {
    margin-bottom: 6px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    letter-spacing: 2px;

    color: #FFB548;
}

