<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="home-c3-fsw22.css">
    <link rel="stylesheet" href="about-c3-fsw22.css">
    <link rel="stylesheet" href="features-c3-fsw22.css">
    <link rel="stylesheet" href="sysreq-c3-fsw22.css">
    <link rel="stylesheet" href="quotes-c3-fsw22.css">
    <link rel="stylesheet" href="newsletter-c3-fsw22.css">
    <title>Document</title>
</head>
<body>
    <div class="home">
        <div class="bgimg">
        <nav>
            <div class="logo">logo</div>
            <div class="left-nav">
                <ul >
                    <li id="home">home</li>
                    <li id="work">work</li>
                    <li id="contact">contact</li>
                    <li id="aboutme">about me</li>
                </ul>
            </div>
            <div class="right-nav">
                <ul>
                    <li id="login">login</li>
                    <li id="signup">sign up</li>
                </ul>
            </div>
        </nav>
        <h1 class="slogan">play traditional game</h1>
        <h3 class="sub-slogan">Experience new traditional gameplay</h3>
        <a href="http://localhost:3000/game">
            <button class="play" >play now</button>
        </a>
        <p class="story">the story</p>
        <img class="down" src="assets/scroll down.png" alt="">
        <div class="butdown"></div>
        </div>
    </div>
    <div class="about">
        <div class="bgimg2">
            <h3 class="question1">What's so special?</h3>
            <h1 class="ans1">the games</h1>
            <img id="rps" src="assets/rockpaperstrategy-1600.jpg" alt="">
            <div class="slide">
                <ul>
                    <li id="s1"></li>
                    <li id="s2"></li>
                    <li id="s3"></li>
                    <li id="s4"></li>
                    <li id="s5"></li>
                </ul>
            </div>
            <img src="assets/right.png" alt="" class="right">
            <img src="assets/left.png" alt="" class="left">
        </div>
    </div>    
    <div class="feature">
        <div class="bgimg3">
            <h3 class="question2">What's so special?</h3>
            <h1 class="ans2">features</h1>
            <div class="list">
                <ul>
                    <li id="tradgame"> <span>traditional games</span> 
                        <p id="pa">If you miss your childhood, we provide many traditional games here</p>
                    </li>
                    <li id="suit"> <span>game suit</span> </li>
                    <li id="tbd"><span>TBD</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sysreq">
        <div class="bgimg4">
            <h3 class="question3">Can my computer run this game?</h3>
            <h1 class="req">system requirements</h1>
            <div class="grid">
                <div class="grid-item">
                    <p class="title">OS :</p>
                    <p>Windows 7 64-bit only (No OSX support at this time)</p>
                </div>
                <div class="grid-item">
                    <p class="title">PROCESSOR :</p>
                    <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
                </div>
                <div class="grid-item">
                    <p class="title">MEMORY :</p>
                    <p>4 GB RAM</p>
                </div>
                <div class="grid-item">
                    <p class="title">STORAGE :</p>
                    <p>8 GB available space</p>
                </div>
                <div class="grid-item" id="item5">
                    <p class="title">GRAPHICS :</p>
                    <p>NVIDIA GeForce GTX 660 2GB or</p>
                    <p>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
                </div>
            </div>
            <div class="rect"></div>
        </div>
    </div>
    <div class="quotes">
        <div class="bgimg5">
            <h1 class="topscores">top scores</h1>
            <p class="desc">This top score from various games provided on this platform</p>
            <button type="button" class="btn btn-warning col-2" id="see">see more</button>
            <div class="quote1">
                <p class="name">Evan Lathi</p>
                <p class="sub">PC Gamer</p>
                <p class="quote">“One of my gaming highlights of the year.”</p>
                <p class="date">June 18, 2021</p>
                <img src="assets/photo (2).png" alt="" class="evan">
            </div>
            <div class="quote2">
                <p class="name">Jada Griffin</p>
                <p class="sub">Nerdreactor</p>
                <p class="quote">“The next big thing in the world of streaming and survival games.”</p>
                <p class="date">July 10, 2021</p>
                img.
            </div>
            <div class="quote3">
                <p class="name">Aaron Williams</p>
                <p class="sub">Uproxx</p>
                <p class="quote">“Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous.”</p>
                <p class="date">December 24, 2018</p>
            </div>
        </div>
    </div>
    <div class="final">
        <div class="bgimg6">
            <img class="trophy" src="assets/Group 3.png" alt="">
            <div class="container">
                <div class="intouch">Want to stay in touch?</div>
                <div class="news">newsletter subscribe</div>
                <div class="detail">
                    In order to start receiving our news, all you have to do is enter your email 
                    address. Everything else will be taken care of by us. We will send you emails containing information 
                    about game. We don't spam.
                </div>
                <div class="isian">
                    <input class="isi mb-3 mt-5" type="text">
                    <button type="button" class="btn btn-warning" id="in">subscribe now</button>
                </div>
            </div>
            <div class="footer">
                <div class="left">
                    <ul>
                        <li id="main">main</li>
                        <li>about</li>
                        <li>game features</li>
                        <li>system requirements</li>
                        <li>quotes</li>
                        <li><img src="assets/facebook.svg" alt=""></li>
                        <li><img src="assets/twitter.svg" alt=""></li>
                        <li><img src="assets/Vector.svg" alt=""></li>
                        <li><img src="assets/twitch.svg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="stroke"></div>
            <p class="lol"> © 2018 Your Games, Inc. All Rights Reserved</p>
            <p class="terms">Privacy Policy | Terms of Services | Code of Conduct </p>
        </div>
    </div>
</body>
</html>